/* app css stylesheet */

body {
  padding-top: 10px;
}

span.repo-link {
  font-size: 20px;
  background-color: #CCCCCC;
  border-radius: 3px;
  padding: 3px;
}

span.issue-label {
  padding: 5px;
}

a.issue-title {
  font-size: 20px;
}

.issue-details {
  margin-top: 10px;
}

li.issue {
  margin-bottom: 20px;
}

span.issue-label {
  border-radius: 3px;
}
