<select ng-model="sorter">
  <option value="title">title</option>
  <option value="-score">score</option>
  <option value="score">score 2</option>
</select>
<ul>
  <li ng-repeat="issue in issues | orderBy:sorter track by $index" class="issue">
    <span class="repo-link">
      <i class="fa fa-github"></i>
      <a class="repo-link" href="https://github.com/{{issue.repo}}"> {{issue.repo}}</a>
    </span>
    <a class="issue-title" href="{{issue.html_url}}" target="_blank">{{issue.title}}</a> {{issue.score}}<br/>
    <div class="issue-details">
      <span class="issue-labels-container">
        <span class="issue-label-container" ng-repeat="label in issue.labels">
           <span class="issue-label" style="background-color: #{{label.color}}">{{label.name}}</span>
        </span>
      </span>
      {{issue.body}}<br/>
    </div>
  </li>
</ul>
